 .logoBox {
    position: absolute;
    top: -2%;
    height:22vh;
    width:22vw;
    left:40%;
    background-image: url('../../assets/images/transparent.png');
    background-position: center;
    background-size: cover;
    font-weight: 900;
   
    animation: fadeIn 4s;
   
}


.textBox {
    position:absolute;
    top:28%;
    height:25vh;
    width:35vw;
    left:32%;
    color:white;
    font-size:42px;
    text-align: center;
    font-family:monospace;
    text-shadow: 1px 1px black;
    border-radius:15px;
    border-color:black;
    border-style:solid;
    font-weight:900;
    background-color:#1b2430;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    opacity: 0.9;
}
.paragraph {
  width:100%;
  

  height:50%;
}

.logo-animate {
    position: absolute;
    top: -40px;
    height:4vh;
    width:4vw;
    left:97%;
    background-image: url('../../assets/images/transparent.png');
    background-position: center;
    background-size: cover;
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes example {
    0%   { left:97%; top:-40px;}
    10%  { left:80%; top:-40px;}
    20%  { left:60%; top:-40px;}
    30%  { left:40%; top:-40px;}
    40% { left:20%; top:-40px;}
    50% { left:0%; top:-40px;}
    60% { left:20%; top:-40px;}
    70%  { left:40%; top:-40px;}
    80%  { left:60%; top:-40px;}
    90%  { left:80%; top:-40px;}
    100%   { left:97%; top:-40px;}
   
}

.testing {
  height:50vh;
  width:100%;
}
.contactbtn {
  height:5vh;
  width:12vw;
  border-radius:15px;
 
  color:#0074B7;
  border-color:orange;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:15px;
  transition: 0.3s ease-in-out;
  font-weight:900;
  
}

.quotebtn {
  height:5vh;
  width:12vw;
  
  border-radius:15px;
  background-color:transparent;
  color:white;
  background-color: #0074B7;
  border-color:white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:15px;
  
  
  transition: 0.3s ease-in-out;
  font-weight:900;
}
.quotebtn:hover {
  background-color: white;
  color:#0074B7;
  border-color:#0074B7;
}

.btn-alignment {
  display:flex;
  flex-direction:row;
  justify-content: center;
  gap:5%;
  position:absolute;
 

  width:100%;
  height:50%;
  padding-top:20%;

  

  
}
@media screen and (max-width: 1000px) {
  .quotebtn{
    font-size: 1.2vw;
    width:12vw;
  }
  .contactbtn{
    font-size: 1.2vw;
    width:12vw;
  }
 

}
@media screen and (max-width: 500px) {
  .quotebtn{
    font-size: 1.2vw;
    width:15vw;
  }
  .contactbtn{
    font-size: 1.2vw;
    width:15vw;
  }

}

#testingbtn {
  background-color:orange;
  color:white;
}
#testingbtn:hover {
  background-color: white;
  color:#0074B7;
  border-color:#0074B7;
}
.testing13{
  font-size:2.8vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}