.map-container {
    width: 55%;
    max-height: 30rem;
    border-radius:15px;
}
.map-section {
    max-width:80rem;
    
    max-height:30rem;
    margin:auto;
    border-radius:25px;
    display:flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    
}
.ptag2 {
    font-weight: 400;
    margin:25px;
    
   
}
.ptag3 {
    font-weight: 400;
    margin:25px;
}


.service-area {
    height:400px;
    width:80%;
    font-size:15px;
    display:flex;
    flex:wrap;
    flex-direction:row;
    margin:auto;
  
    gap:1vw;
    
}

.area-1{
    width:50%;
    height:100%;
    display:flex;
    justify-content: center;
  
    
  
}
.area-2{
    width:50%;
    display:flex;
    justify-content: center;
    height:100%;
   
  
}
.map-box {
    width:45%;
    
   
    
}
.h2 {
    text-align:center;
}
ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

  .whats-next {
    height:15rem;
    width:100%;
   
    margin:auto;
    display:flex;
    flex-direction: row;
  }
  .hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.whats-h2 {
    text-align: center;
    font-size:50px;
}
.box-1 {
    width:33.33%;
    height:100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size:18px;
    font-weight:600;
    

}
.box-2 {
    width:33.33%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size:18px;
    font-weight:600;
}
.box-3 {
    width:33.33%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size:18px;
    font-weight:600;

}
@media screen and (max-width: 1000px) {
    .icon-1x {
        height:8vh;
        width:8vw;
        padding-bottom: 2vh;
    }
   .whats-h2 {
    font-size:30px;
   }
    
  }


  
.request-btn1{
    width:15vw;
    height:4vh;
  
    border-radius:8px;
    font-size:16px;
    background-color:#0074B7;
    color:white;
    box-shadow:0em 0em 1.0em #0074B7;

    
    
}
.request-btn1:hover{
    background-color: #1b2430;
    color:white;
    box-shadow:0em 0em 1.0em orange;
     
  transition: 0.3s ease-in-out;
}
.button-margin{
    width:100%;
    display:flex;
    justify-content: center;
}
.icon-1{
    border-style:solid;
    height:15vh;
    width:10vw;
    padding-top:3vh;
    background-color: #1b2430;
    border-radius:50%;
    box-shadow:0em 0em 1.0em #0074B7;
}
.icon-2{
    border-style:solid;
    height:15vh;
    width:10vw;
    padding-top:3vh;
    background-color: #1b2430;
    border-radius:50%;
    box-shadow:0em 0em 1.0em #0074B7;
}
.icon-3{
    border-style:solid;
    height:15vh;
    width:10vw;
    padding-top:3vh;
    background-color: #1b2430;
    border-radius:50%;
    box-shadow:0em 0em 1.0em #0074B7;
}
.about-us {
    height:50vh;
    width:80%;
    margin:auto;
    display:flex;
    flex-direction: row;
 
}
@media screen and (max-width: 1085px) {
    .ptag2 {
        font-size:12px;
    }
    .ptag3 {
        font-size:12px;
    }
    .stary {
        font-size:20px;
       
    }
  
 
  }
  @media screen and (max-height: 850px) {
    .ptag2 {
        font-size:12px;
    }
    .ptag3 {
        font-size:12px;
    }
    .stary {
        font-size:20px;
        
       
    }
    .service-area {
        font-size:10px;
    }
    .h2 {
        font-size:20px;
    }
  
 
  }
  @media screen and (max-width: 900px) {
    .ptag2 {
        font-size:10px;
    }
    .ptag3 {
        font-size:10px;
    }
    .stary {
        font-size:20px;
       
    }
    .box-1 {
        p {
            font-size:13px;
        }
    }
    .box-2 {
        p {
            font-size:13px;
        }
    }
    .box-3 {
        p {
            font-size:13px;
        }
    }
    .request-btn1{
        font-size:8px;
    }
    .service-area {
        font-size:10px;
    }
    .abouth2 {
        font-size:15px;
    }
  
  }
  @media screen and (max-width: 500px) {
    .ptag2 {
        font-size:5px;
    }
    .ptag3 {
        font-size:5px;
    }
    .stary {
        font-size:10px;
       
    }
    .box-1 {
        p {
            font-size:8px;
        }
      
    }
    .box-2 {
        p {
            font-size:8px;
        }
    }
    .box-3 {
        p {
            font-size:8px;
        }
    }
    
    .request-btn1{
        font-size:5px;
        height:2.5vh;
        margin:50px
    }
    .whats-next {
        height:25rem;
        width:50%;  
        margin:auto;
        display:flex;
        flex-direction: column;
        position:relative;
        top: 50%;
        left: 50%;
        gap:1%;
       

        /* bring your own prefixes */
        transform: translate(-67%, -10%);
      }
    .abouth2 {
        font-size:15px;
    }
    @media screen and (max-width: 850px) {
        .icon-1x {

            height:8vh;
            width:8vw;
            padding-bottom: 2vh;
        }
        .icon-1 {

            height:8vh;
            padding-top:2px;
            width:8vh;
        }
       .whats-h2 {

        font-size:30px;
       }
       .icon-2 {

        height:8vh;
        padding-top:2px;
        width:8vh;
        }
        .icon-3 {

            height:8vh;
            padding-top:2px;
            width:8vh;
        }
       
    }    
  
  }
.about-box {
    height:100%;
    width:50%;
    box-shadow:0em 0em 1.0em #0074B7;
   
}
.about-box1 {
    height:100%;
    width:50%;
    
 
   
}
.image-5 {
    height:100%;
    width:100%;
    border-radius:15px;
   
}
.about-box2 {
    height:50%;
    width:80%;
    border-style:outset;
    margin:auto;
    position:relative;
    top:25%;
    border-radius:15px;
    background-color:white;
    color:#0074B7;
    font-size:20px;
    text-align: start;
    font-weight:400;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   

}
.abouth2 {
    color:#0074B7;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.image-6 {
    height:100%;
    width:100%;
    border-radius:15px;
    
}
.reviews {
    height:50vh;
    width:80%;
    margin:auto;
    display:flex;
    flex-direction: row;
 
}
.review-box {
    height:100%;
    width:50%;
   
    
    
 
   
}
.review-box1 {
    height:100%;
    width:50%;
    box-shadow:0em 0em 1.0em #0074B7;
    
}
.review-box2{
    height:50%;
    width:80%;
    border-style:solid;
    margin:auto;
    position:relative;
    top:25%;
    border-radius:15px;
    background-color:white;
    color:#0074B7;
    font-size:20px;
    text-align: center;
    border-style:outset;
    font-weight:400;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.featured {
    height:40vh;
    width:100%;
    border-radius:15px;
    margin:auto;
    background-color:#023B63;
   
}
.featuredh2 {
    color:white;
    text-align: center;
    font-size:40px;
    
    
}
.featured-projects {
    display:flex;
    flex-direction: row;
    gap:5%;
    justify-content: center;
    padding-top:5%;
    
}
.before-1 {
    height:15vh;
    width:15vw;
    
    border-radius:15px;
}
.after-1 {
    height:15vh;
    width:15vw;
    border-radius:15px;
   
}
.before-2 {
    height:15vh;
    width:15vw;
    border-radius:15px;
  
}
.after-2 {
    height:15vh;
    width:15vw;
    border-radius:15px;
    
}
.before-after {
    text-align: center;
    color:white;
}


