.login-box {
    height:80vh;
    width:100%;
    border-style:solid;
    background-image: url('../../assets/images/aboutus.png');
    background-size:cover;
    text-align: center;
    
}
.signup {
    height:65vh;
    width:35%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  
    background-color:#1b2430;
    content: ' ';
    opacity: 0.93;
    animation: fadeIn 4s;
   
}
.form {
    
    display:flex;
    flex-direction: column;
    height:40vh;
    width:80%;
    position:fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

}
.loginh2 {
    color:white;
    text-align: center;
    font-weight:400;
    font-size:40px;
}
.ptag {
    color:white;
    text-align: center;
    font-size:20px;
}
.firstname {
    font-size:25px;
}
.emailaddress {
    font-size:25px;
}
.lastname {
    font-size:25px;
}
.password {
    font-size:25px;
}
.password-confirm {
    font-size: 25px;
}
.loginbtn{
    font-size:28px;
    background-color:orange;
    color:white;
    border-radius:10px;
    
}
.loginbtn:hover{
    background-color:#0074B7;
    color:white;
    transition: 0.3s ease-in-out;
    
}
.login-link1 {
    color:#0074B7;
}
@media screen and (max-width: 1000px) {
    .signup-icon{
       font-size:50px;
    }
   }